<h1>Login</h1>

<%= form_with(url: login_path, local: true) do |f| %>
  <%= f.label :email %><br>
  <%= f.email_field :email, autofocus: true %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Log in" %>
<% end %>