<%= form_with url: products_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search Products" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product) %></p>
<% end %>
